/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(128, 0, 0);
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color:  rgb(255, 128, 64);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: rgb(128, 64, 0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(255, 128, 64);
    color: rgb(128, 64, 0);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(255, 128, 64);
}

footer {
    background-color:  rgb(211, 147, 107);
    color: rgb(128, 64, 0);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* MonProjetcss.css */

/* Ajoutez ces styles pour les nouvelles sections */
.content-container {
    display: flex;
    justify-content: space-between;
}

#description-app, #connexion, #conseils-sante {
    flex: 1;
    margin: 20px;
    background-color: rgb(128, 64, 0);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#description-app {
    order: 1; /* Placez cette section à gauche */
}

#conseils-sante {
    order: 3; /* Placez cette section à droite */
}

#connexion {
    order: 2; /* Placez cette section au centre */
}